includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: 5
  phpVersion: 70400

  paths:
    - src
    - tests

  excludePaths:
    - vendor

  checkMissingVarTagTypehint: true

  ignoreErrors:
    - '#Access to an undefined property odara\\\\yii\\\\tests\\\\models\\\\Item::\\$tagIds#'
    - '#Access to an undefined property odara\\\\yii\\\\tests\\\\models\\\\Item::\\$tags#'
    - '#Access to an undefined property odara\\\\yii\\\\tests\\\\models\\\\Item::\\$id#'
    - '#Access to an undefined property yii\\\\db\\\\ActiveQueryInterface::\\$modelClass#'
    - '#Access to static property \\$app on an unknown class Yii#'
    - '#Variable \\$newReferences in empty\\(\\) is never defined#'
